.end-of-personal-progress {
  border-top: solid black .1vw;
  margin-top: 1vw;
  display: block;
  width: 184%;
  height: 1vw;
}

@media (min-width: 960px) {

  .end-of-personal-progress {
    margin-top: .5vw;
    height: .5vw;
  }

}
